<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital DIY Bullettin Board</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="../digital-diy-bulletin-board/public/images/DDBBfavicon.png">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
{{!-- <div class="container wrapper"> --}}
<div class="center">
<header class="row">
  <img class="logo" href="/" src="../digital-diy-bulletin-board/public/images/DDBBlogo.jpg" alt="DDBB">
    <h1> Digital DIY Bulletin Board </h1>
      <nav>
        <ul class="navbar">
              <li><a class="link" href="/">Home</a></li>
               <li><a class="link" href="/dashboard">Dashboard</a></li>
              {{#if loggedIn}}
               <li><a class="link" href="/logout" id="logout">Logout</a></li>
              {{else}}
               <li><a class="link" href="/login">Login</a></li>
              {{/if}}
        </ul>
      </nav>

    
</header>

<main>
  {{{ body }}}
</main>

<footer class="footer">
    <div class="row">
        <p>
          DDBB by <a href="https://github.com/Kpfranklin22/digital-diy-bulletin-board"> Classic City Coders </a>
        </p>
    </div>
</footer>

    {{#if loggedIn}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="/js/logout.js"></script>
    <script src="https://rawgithub.com/timrwood/moment/2.9.0/min/moment.min.js"></script>
    {{/if}}
</div> 
</div>
</body>


</html>