{{!-- Displays input fields for login information as well as a button to direct the user to signup --}}

<div class="row center">
  <div class="col-md-6">
    <h2 class="center text-shadow-2">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label class="text-shadow-1" for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label class="text-shadow-1" for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <a class="btn btn-primary login-form" id ="submit" type="submit">Login</a>
        <break>
        <a class="btn btn-primary" href="/signup">Signup</a>
      </div>
    </form>
  </div>
</div>
<script src="./js/login.js"></script>