<h2 class="card-header">Create New Event</h2>
<form class="card-body new-post-form" id="new-post-form">
    <div class="form-row">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="post-title" name="post-title" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label" for="description">Description</label>
        <input id="description" name="description" class="form-input form-control" />
    </div>  
    <div class="form-row">
        <label class="form-label" for="venue">Venue</label>
        <input id="venue" name="venue" class="form-input form-control" />
    </div>  
        <div class="form-row">
        <label class="form-label" for="event_time">Event Time</label>
        <input id="event_time" name="event_time" class="form-input form-control" />
    </div>
        <div class="form-row">
        <label class="form-label" for="img_source">Upload Image (Link)</label>
        <input id="img_source" name="img_source" class="form-input form-control" />
    </div>    
    <button type="submit" class="btn">Create</button>
    
</form>


<script src="/js/add-event.js"></script>