{{!-- Provides input fields to create a new event --}}

<h2 class="card-header center text-shadow-1">Event Details:</h2>
<form class="card-body new-post-form" id="new-post-form">
    <div class="form-row">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="post-title" name="post-title" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label" for="description">Description</label>
        <input id="description" name="description" class="form-input form-control" />
    </div>  
    <div class="form-row">
        <label class="form-label" for="venue">Venue</label>
        <input id="venue" name="venue" class="form-input form-control" />
    </div>  
        <div class="form-row">
        <label class="form-label" for="event_time">Event Date</label>
        <input id="event_time" placeholder="MM/DD/YYYY" name="event_time" class="form-input form-control" />
    </div>
        <div class="form-row">
        <label class="form-label" for="img_source">Upload Image Link (optional)</label>
        <input id="img_source" name="img_source" class="form-input form-control" />
    </div>    
    <button type="submit" href="/new" class="btn">Finish</button>
</form>


<script src="/js/add-event.js"></script>