{{!-- Provides input fields to create a new user --}}

<div class="row center">
  <div class="col-md-6">
    <h2 class="center text-shadow-2">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label class="text-shadow-1" for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label class="text-shadow-1" for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="submit" type="submit">Signup</button>
        <a class="btn login-primary" href="/login">Log In</a>
      </div>
    </form>
  </div>
</div>
<script src="./js/signup.js"></script>
